<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong>
        Importando bibliotecas
    </strong>
</p>

In [72]:
import pandas as pd
from openpyxl import Workbook, load_workbook
from openpyxl.styles import numbers
import xlwings as xw

# pygame
# tkinter
# custom
# strimgate(tipo de python)

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Lendo base de dados
    </strong>
</p>

In [73]:
def ler_arquivo(nome_arquivo):
    try:
        df = pd.read_excel(f'dados/{nome_arquivo}.xlsx')
        return df 
    except FileNotFoundError as e:
        print(f'Erro: {e}')

def criar_atualizar_arquivo(nome_arquivo, df_tratado=''):
    df_tratado.to_excel(f'dados/{nome_arquivo}.xlsx'
)

In [74]:
df = ler_arquivo('base_entregas_brutas')

<p style="font-size: 1.1rem; color: #9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Informações gerais
    </strong>
</p>

In [75]:
# df.shape #Quantidade de linhas e colunas
# df.info() #Informações gerais do arquivo
# df.sample(5, random_state=42) #5 aleatorios, fixos  ->> Guia do Mochileiro das Galaxyas
# df.sample(frac=0.1) #mostra 10% da sua base

<p style="font-size: 1.1rem; color: #9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Dados ausentes        
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Por segurança, criamos uma copia do DF       
    </strong>
</p>

In [76]:
df_tratado = df.copy()

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Filial 
    </strong>
</p>

In [77]:
df_tratado.loc[:, 'filial'] = df_tratado['filial'].fillna('Não informada') # : vai do inicio ao fim  -> fillna substitui dados vazios pelo texto informado

df_tratado['filial'].sample(10)

515     Não informada
4465               PR
4617               RS
1343               RS
69                 MG
1013               RJ
1901    Não informada
3829               MG
930     Não informada
4607               SP
Name: filial, dtype: str

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Cliente 
    </strong>
</p>

In [78]:
df_tratado.loc[:, 'cliente'] = df_tratado['cliente'].fillna('Outros')

df_tratado['cliente'].sample(10)

4274            Shopee
3957    Magazine Luiza
5126     Mercado Livre
123             Shopee
4341     Mercado Livre
2252     Mercado Livre
3176            Amazon
691             Shopee
499         Americanas
782             Amazon
Name: cliente, dtype: str

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Dias de atraso 
    </strong>
</p>

In [79]:
df_tratado.loc[:, 'dias_atraso'] = df_tratado['dias_atraso'].fillna(99)

df_tratado['dias_atraso'].sample(10)

4263    99.0
3656     0.0
2689     1.0
2955     3.0
1588     0.0
4573     0.0
3539     0.0
2378     1.0
743      1.0
4087     0.0
Name: dias_atraso, dtype: float64

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Prazo previsto 
    </strong>
</p>

In [80]:
df_tratado.loc[:, 'prazo_previsto'] = df_tratado['prazo_previsto'].fillna(
    df_tratado['prazo_previsto'].median()                                          #calcula a media de todos os campos preenchidos da coluna e traz o resultado
)

df_tratado

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
0,2870,PR,Amazon,Entregue,Entrega realizada no prazo,Normal,274.75,2026-01-08 19:55:58.133,2.0,0.0
1,930,RJ,Mercado Livre,entregue,Entrega reagendada,Normal,81.90,2026-01-11 19:55:58.138,3.0,0.0
2,1934,MG,Amazon,Entregue,NaN,NaN,291.76,2026-01-13 19:55:58.123,5.0,3.0
3,940,MG,Amazon,ATRASADO,Entrega reagendada,econômico,40.89,2026-01-14 19:55:58.119,2.0,99.0
4,1969,SC,Mercado Livre,EM TRANSITO,Entrega com atraso por chuva,NaN,229.75,2026-01-19 19:55:58.134,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...
5195,3044,SP,Outros,ATRASADO,Entrega com atraso por chuva,EXPRESS,151.06,2026-01-05 19:55:58.142,1.0,0.0
5196,212,MG,Americanas,entregue,Entrega reagendada,EXPRESS,94.22,2026-01-26 19:55:58.117,2.0,0.0
5197,3164,SC,Shopee,Em trânsito,Entrega realizada no prazo,Normal,164.79,2026-02-01 19:55:58.133,7.0,0.0
5198,3099,SC,Outros,EM TRANSITO,Entrega com atraso por chuva,EXPRESSA,162.47,2026-01-08 19:55:58.121,3.0,1.0
5199,3930,RS,Amazon,EM TRANSITO,Problema operacional na rota,EXPRESSA,161.09,2026-01-16 19:55:58.142,2.0,0.0

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Duplicadas
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Verificando duplicadas com base no ID / VERIFICANDO SE DEU CERTO
    </strong>
</p>

In [81]:
df_tratado.duplicated(subset=['id_entrega']).sum()

np.int64(2334)

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Removendo duplicadas, mantendo a primeira ocorrencia
    </strong>
</p>

In [82]:
df_tratado = df_tratado.drop_duplicates(subset=['id_entrega'])                     # drop_duplicates -> deleta os duplicados

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Tipagem correta para ID
    </strong>
</p>

In [83]:
df_tratado['id_entrega'] = df_tratado['id_entrega'].astype('Int64')                    # astype -> Altera o Tipo
df_tratado['prazo_previsto'] = df_tratado['prazo_previsto'].astype('Int64')
df_tratado['dias_atraso'] = df_tratado['dias_atraso'].astype('Int64')

In [84]:
df_tratado.dtypes                                                                      # para ver o tipo do dado

id_entrega                    Int64
filial                          str
cliente                         str
status                          str
descricao_entrega               str
tipo_servico                    str
valor_frete                 float64
data_postagem        datetime64[us]
prazo_previsto                Int64
dias_atraso                   Int64
dtype: object

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Tratamento - Padronização e Normalização
    </strong>
</p>

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Removendo espaços e alterando para caixa alta 
    </strong>
</p>

In [85]:
df_tratado['status'] = df_tratado['status'].str.strip().str.upper()
df_tratado['tipo_servico'] = df_tratado['tipo_servico'].str.strip().str.upper()

<p style="font-size: 1.1rem; color: #00d9ff; font-family: monospace ">
    <strong>
        Status 
    </strong>
</p>

In [86]:
mapa_status = {
    'ENTREGUE'    : 'ENTREGUE',
    'ENTREGUES'   : 'ENTREGUE',
    'EM TRANSITO' : 'EM TRÂNSITO',
    'EM TRÂNSITO' : 'EM TRÂNSITO',
    'EM TRANZITO' : 'EM TRÂNSITO',
    'ATRASADO'    : 'ATRASADO',
    'ATRAZADO'    : 'ATRASADO'
}

df_tratado['status'] = df_tratado['status'].map(mapa_status)

df_tratado.sample(5)

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso
3331,1617,SC,Outros,ENTREGUE,NaN,EXPRESS,206.28,2026-01-10 19:55:58.136,3,0
548,717,RJ,Amazon,ENTREGUE,Problema operacional na rota,ECONÔMICO,137.32,2026-01-23 19:55:58.142,1,0
4168,1318,PR,Americanas,ATRASADO,NaN,NORMAL,196.50,2026-02-01 19:55:58.141,5,3
1978,3509,SC,Magazine Luiza,ENTREGUE,Entrega reagendada,EXPRESSA,77.27,2026-01-28 19:55:58.132,3,3
357,2245,SP,Outros,ATRASADO,Extravio temporário,EXPRESS,288.67,2026-01-30 19:55:58.135,3,1

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Criando coluna calculada
    </strong>
</p>

In [87]:
df_tratado['data_prevista'] = (
    df_tratado['data_postagem'] + 
    pd.to_timedelta(df_tratado['prazo_previsto'], unit='D')
)

df_tratado[
    [
    'data_postagem',
    'prazo_previsto',
    'data_prevista',
]
]

               data_postagem  prazo_previsto           data_prevista
0    2026-01-08 19:55:58.133               2 2026-01-10 19:55:58.133
1    2026-01-11 19:55:58.138               3 2026-01-14 19:55:58.138
2    2026-01-13 19:55:58.123               5 2026-01-18 19:55:58.123
3    2026-01-14 19:55:58.119               2 2026-01-16 19:55:58.119
4    2026-01-19 19:55:58.134               3 2026-01-22 19:55:58.134
...                      ...             ...                     ...
5177 2026-01-29 19:55:58.143               5 2026-02-03 19:55:58.143
5184 2026-01-14 19:55:58.134               2 2026-01-16 19:55:58.134
5188 2026-01-08 19:55:58.141               3 2026-01-11 19:55:58.141
5190 2026-01-06 19:55:58.118               3 2026-01-09 19:55:58.118
5194 2026-01-14 19:55:58.135               2 2026-01-16 19:55:58.135

[2866 rows x 3 columns]

In [88]:
df_tratado.dtypes

id_entrega                    Int64
filial                          str
cliente                         str
status                          str
descricao_entrega               str
tipo_servico                    str
valor_frete                 float64
data_postagem        datetime64[us]
prazo_previsto                Int64
dias_atraso                   Int64
data_prevista        datetime64[us]
dtype: object

In [89]:
hoje = pd.Timestamp.today().normalize()

df_tratado['Atraso'] = (
    hoje - df_tratado['data_prevista']
).dt.days

df_tratado['Atraso'] = df_tratado['Atraso'].clip(lower=0)


# df_tratado['Atraso'] = (
#     df_tratado['prazo_previsto'] + df_tratado['dias_atraso']
# )

df_tratado

,id_entrega,filial,cliente,status,descricao_entrega,tipo_servico,valor_frete,data_postagem,prazo_previsto,dias_atraso,data_prevista,Atraso
0,2870,PR,Amazon,ENTREGUE,Entrega realizada no prazo,NORMAL,274.75,2026-01-08 19:55:58.133,2,0,2026-01-10 19:55:58.133,26
1,930,RJ,Mercado Livre,ENTREGUE,Entrega reagendada,NORMAL,81.90,2026-01-11 19:55:58.138,3,0,2026-01-14 19:55:58.138,22
2,1934,MG,Amazon,ENTREGUE,NaN,NaN,291.76,2026-01-13 19:55:58.123,5,3,2026-01-18 19:55:58.123,18
3,940,MG,Amazon,ATRASADO,Entrega reagendada,ECONÔMICO,40.89,2026-01-14 19:55:58.119,2,99,2026-01-16 19:55:58.119,20
4,1969,SC,Mercado Livre,EM TRÂNSITO,Entrega com atraso por chuva,NaN,229.75,2026-01-19 19:55:58.134,3,0,2026-01-22 19:55:58.134,14
...,...,...,...,...,...,...,...,...,...,...,...,...
5177,65,PR,Amazon,ATRASADO,Extravio temporário,NORMAL,251.47,2026-01-29 19:55:58.143,5,2,2026-02-03 19:55:58.143,2
5184,1056,RJ,Magazine Luiza,ATRASADO,Cliente ausente no local,NORMAL,320.94,2026-01-14 19:55:58.134,2,99,2026-01-16 19:55:58.134,20
5188,291,SP,Americanas,EM TRÂNSITO,Entrega realizada no prazo,NORMAL,155.01,2026-01-08 19:55:58.141,3,0,2026-01-11 19:55:58.141,25
5190,1681,Não informada,Outros,EM TRÂNSITO,NaN,NaN,218.20,2026-01-06 19:55:58.118,3,0,2026-01-09 19:55:58.118,27
5194,2712,RS,Shopee,ENTREGUE,Problema operacional na rota,NaN,188.58,2026-01-14 19:55:58.135,2,0,2026-01-16 19:55:58.135,20

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Prazo previsto de acordo com a filial
    </strong>
</p>

In [90]:
df_tratado.loc[
    (df_tratado['cliente'] == "Shopee") & 
    (df_tratado['filial'] == "RJ"),
    "prazo_previsto"
] =5


df_tratado.loc[
    (df_tratado['cliente'] == "Amazon") &
    (df_tratado['filial'].isin( ["MG", "SP"] )),
     "prazo_previsto"
] =2

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Atualizando arquivo para executar fórmulas
    </strong>
</p>

In [91]:
app = xw.App(visible=False)                                            #importar atualizador sem abrir o excel

wb = xw.Book('dados/base2.xlsx')                                       #Abrir o arquivo

wb.app.calculate()                                                     #calcular o arquivo

wb.save()                                                              #salvar o arquivo

wb.close()                                                             #fechar o arquivo

app.quit()                                                             #sair do arquivo

<p style="font-size: 1.1rem; color:#9beb3b; text-align: center; font-family: monospace ">
    <strong><br/><br/><br/><br/><br/><br/>
        Salvando arquivo tratado
    </strong>
</p>

In [92]:
criar_atualizar_arquivo('base2', df_tratado=df_tratado)