Importando Libs

In [ ]:
import pyodbc
import pandas as pd

Criando conexão

In [59]:
# conn = pyodbc.connect(
#     "DRIVER={ODBC Driver 17 for SQL Server};" \
#     "SERVER=den1.mssql7.gear.host;" \ 
#     "DATABASE=vendasbicyclon;"  \
#     "UID=vendasbicyclon;"     \
#     "PWD=senha@clarify;"       \
#     "MARS_Connection=Yes"
# )

In [ ]:
conn = pyodbc.connect(
    "DRIVER={SQL Server};"\
    "SERVER=den1.mssql7.gear.host;"\
    "DATABASE=vendasbicyclon;"\
    "UID=vendasbicyclon;"\
    "PWD=senha@clarify;" \
    'MARS_Connnection=yes;'
)

In [ ]:
# FUNÇÃO EXECUTAR QUERY 

def exe_query(query):
    return  pd.read_sql(query, conn)

lista_resposta = []
def exe_varias_querys(*args):
    for consulta in args:
        lista_resposta.append(pd.read_sql(consulta, conn))
    return lista_resposta

In [62]:
query = """
SELECT
    TABLE_SCHEMA,
    TABLE_NAME
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE = 'BASE TABLE'
        ORDER BY TABLE_SCHEMA, TABLE_NAME
"""

df_tabelas = pd.read_sql(query, conn)

C:\Users\fernando.cremm\AppData\Local\Temp\ipykernel_28208\398176498.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tabelas = pd.read_sql(query, conn)

In [63]:
df_tabelas

  TABLE_SCHEMA      TABLE_NAME
0          dbo        clientes
1          dbo     itensPedido
2          dbo  linhasProdutos
3          dbo         pedidos
4          dbo        produtos
5          dbo       regionais
6          dbo     sysdiagrams
7          dbo      vendedores

Nome dos clientes

In [73]:
query = "SELECT * FROM clientes"
df_clientes = pd.read_sql(query, conn)
df_clientes.head()

nomes = df_clientes['nomeCliente']
nomes

C:\Users\fernando.cremm\AppData\Local\Temp\ipykernel_28208\645874650.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_clientes = pd.read_sql(query, conn)

0           Velocycle Emporium
1           Pedal & Gear Haven
2      CicloFusion Marketplace
3           BiciMondo Ventures
4     SpinScape Bikes & Beyond
5           CyclaVista Cyclery
6    RollRight Wheels Emporium
7          GearSpin Provisions
8                BikeHub Oasis
9          PedalCraft Boutique
Name: nomeCliente, dtype: str

Produtos com valor > 2000 e descrição preenchida

In [65]:
query = """
    SELECT * FROM produtos  
    where precoUnitario >= 2000
"""
df_produtos = pd.read_sql(query, conn)
df_produtos.head()

produtos = df_produtos['nomeProduto']
produtos

C:\Users\fernando.cremm\AppData\Local\Temp\ipykernel_28208\3427142904.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_produtos = pd.read_sql(query, conn)

0          Summit Seeker 2000
1         Velocity Racer 3000
2        E-Power Cruiser 6000
3      Junior Adventurer 8000
4    Expedition Voyager 11000
Name: nomeProduto, dtype: str

In [66]:
query_colunas = """
SELECT
      TABLE_SCHEMA,
      TABLE_NAME,
      COLUMN_NAME,
      DATA_TYPE,
      IS_NULLABLE
          FROM INFORMATION_SCHEMA.COLUMNS
          ORDER BY TABLE_SCHEMA, TABLE_NAME, ORDINAL_POSITION
"""

exe_query(query_colunas)

C:\Users\fernando.cremm\AppData\Local\Temp\ipykernel_28208\2641567547.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return  pd.read_sql(query, conn)

   TABLE_SCHEMA      TABLE_NAME            COLUMN_NAME  DATA_TYPE IS_NULLABLE
0           dbo        clientes              idCliente        int          NO
1           dbo        clientes            nomeCliente    varchar          NO
2           dbo        clientes          cidadeCliente    varchar         YES
3           dbo     itensPedido                 idItem        int          NO
4           dbo     itensPedido               idPedido        int          NO
5           dbo     itensPedido              idProduto        int          NO
6           dbo     itensPedido             quantidade        int          NO
7           dbo     itensPedido          precoUnitario    decimal          NO
8           dbo     itensPedido               desconto    decimal          NO
9           dbo  linhasProdutos         idLinhaProduto        int          NO
10          dbo  linhasProdutos       nomeLinhaProduto    varchar          NO
11          dbo  linhasProdutos  descricaoLinhaProduto    varchar         YES
12          dbo         pedidos               idPedido        int          NO
13          dbo         pedidos             idVendedor        int          NO
14          dbo         pedidos              idCliente        int          NO
15          dbo         pedidos             dataPedido       date          NO
16          dbo        produtos              idProduto        int          NO
17          dbo        produtos         idLinhaProduto        int          NO
18          dbo        produtos            nomeProduto    varchar          NO
19          dbo        produtos       descricaoProduto    varchar         YES
20          dbo        produtos          precoUnitario    decimal          NO
21          dbo       regionais             idRegional        int          NO
22          dbo       regionais           nomeRegional    varchar          NO
23          dbo       regionais       enderecoRegional    varchar         YES
24          dbo       regionais      telefoneRegionnal    varchar          NO
25          dbo     sysdiagrams                   name   nvarchar          NO
26          dbo     sysdiagrams           principal_id        int          NO
27          dbo     sysdiagrams             diagram_id        int          NO
28          dbo     sysdiagrams                version        int         YES
29          dbo     sysdiagrams             definition  varbinary         YES
30          dbo      vendedores             idVendedor        int          NO
31          dbo      vendedores             idRegional        int          NO
32          dbo      vendedores           nomeVendedor    varchar          NO
33          dbo      vendedores          emailVendedor    varchar          NO

In [70]:
lista_resposta

[]